@media (max-width: 929px) {
    body {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #403F4D;
        color: #FAFAF8;
        transition: background 0.2s linear;
    }
    header {
        height: 200px;
        width: 500px;
        display: flex;
        justify-content: space-between;
    }
    header .today {
        display: flex;
        text-align: center;
        align-items: center;
    }
    header .today .date {
        margin-left: 5px;
    }
    header .today .day {
        letter-spacing: -5px;
        font-size: 80px;
        font-family: "Poppins", sans-serif;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    header .today .month {
        font-size: 27px;
        font-family: "Poppins", sans-serif;
        margin: 0;
        padding: 0;
    }
    header .today .year {
        font-size: 22px;
        font-family: "Poppins", sans-serif;
        font-weight: normal;
        margin: 0;
        padding: 0;
        margin-top: -8px;
    }
    header .weekDay {
        align-self: center;
    }
    header .weekDay h2 {
        letter-spacing: -1px;
        font-size: 35px;
        font-weight: normal;
        font-family: "Poppins", sans-serif;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 600px;
    }
    main .newItem {
        display: flex;
        justify-content: center;
        width: 500px;
        height: 80px;
    }
    main .newItem input {
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        padding: 10px;
        font-size: 25px;
        color: #FAFAF8;
        width: 100%;
        border: none;
        background-color: #2E2D33;
    }
    main .newItem input:focus {
        outline: none;
    }
    main .newItem button {
        color: #FAFAF8;
        padding: 10px;
        padding-right: 17px;
        font-size: 40px;
        appearance: none;
        border: none;
        background-color: #2E2D33;
        cursor: pointer;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        transition: all 0.1s 0s ease-in;
    }
    main .newItem button:hover {
        color: #c4c4bf;
    }
    main .list {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 636px;
    }
    main .list .item {
        background-color: #4E4D5B;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 500px;
        height: 80px;
        border-radius: 7px;
        margin: 13px;
    }
    main .list .item-done {
        background-color: #7FD9A3;
    }
    main .list label {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
        font-size: 18px;
        font-family: "Poppins", sans-serif;
        color: white;
        padding-right: 10px;
        padding-left: 10px;
    }
    main .list .btn {
        display: flex;
    }
    main .list button {
        font-size: 28px;
        appearance: none;
        border: none;
        background: none;
    }
    main .list button i {
        cursor: pointer;
    }
    main .list .btn-done {
        color: #10ec68;
        transition: all 0.1s 0s ease-in;
    }
    main .list .btn-done:hover {
        color: #0a9140;
    }
    main .list .btn-remove {
        color: #ec5f38;
        transition: all 0.1s 0s ease-in;
    }
    main .list .btn-remove:hover {
        color: #b95539;
    }
    main #clear-all {
        font-size: 35px;
        appearance: none;
        background: none;
        border: none;
        color: #ec5f38;
        cursor: pointer;
        transition: all 0.1s 0s ease-in;
    }
    main #clear-all:hover {
        color: #b95539;
    }
    main .theme-change {
        position: absolute;
        margin-top: 10px;
        margin-left: 10px;
        top: 0;
        left: 0;
    }
    main .checkbox {
        opacity: 0;
        position: absolute;
    }
    main .checkbox:checked+.label .ball {
        transform: translateX(33px);
    }
    main .label {
        cursor: pointer;
        color: #FAFAF8;
        background-color: #2E2D33;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 50px;
        padding: 5px;
        width: 50px;
        position: relative;
    }
    main .ball {
        border-radius: 50%;
        background-color: #FAFAF8;
        position: absolute;
        height: 22px;
        width: 22px;
        transition: transform 0.1s linear;
    }
}

@media (max-width: 640px) {
    body {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #403F4D;
        color: #FAFAF8;
        transition: background 0.2s linear;
    }
    header {
        height: 300px;
        width: 300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header .today {
        display: flex;
        text-align: center;
        align-items: center;
    }
    header .today .date {
        margin-left: 5px;
    }
    header .today .day {
        letter-spacing: -5px;
        font-size: 80px;
        font-family: "Poppins", sans-serif;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    header .today .month {
        font-size: 27px;
        font-family: "Poppins", sans-serif;
        margin: 0;
        padding: 0;
    }
    header .today .year {
        font-size: 22px;
        font-family: "Poppins", sans-serif;
        font-weight: normal;
        margin: 0;
        padding: 0;
        margin-top: -8px;
    }
    header .weekDay {
        align-self: center;
    }
    header .weekDay h2 {
        letter-spacing: -1px;
        font-size: 35px;
        font-weight: normal;
        font-family: "Poppins", sans-serif;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 600px;
    }
    main .newItem {
        display: flex;
        justify-content: center;
        width: 400px;
        height: 80px;
    }
    main .newItem input {
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        padding: 10px;
        font-size: 25px;
        color: #FAFAF8;
        width: 100%;
        border: none;
        background-color: #2E2D33;
    }
    main .newItem input:focus {
        outline: none;
    }
    main .newItem button {
        color: #FAFAF8;
        padding: 10px;
        padding-right: 17px;
        font-size: 40px;
        appearance: none;
        border: none;
        background-color: #2E2D33;
        cursor: pointer;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        transition: all 0.1s 0s ease-in;
    }
    main .newItem button:hover {
        color: #c4c4bf;
    }
    main .list {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 636px;
    }
    main .list .item {
        background-color: #4E4D5B;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 400px;
        height: 80px;
        border-radius: 7px;
        margin: 13px;
    }
    main .list .item-done {
        background-color: #7FD9A3;
    }
    main .list label {
        font-size: 18px;
        font-family: "Poppins", sans-serif;
        color: white;
        padding-right: 10px;
        padding-left: 10px;
    }
    main .list button {
        font-size: 28px;
        appearance: none;
        border: none;
        background: none;
        padding: 10px;
    }
    main .list button i {
        cursor: pointer;
    }
    main .list .btn-done {
        color: #10ec68;
        transition: all 0.1s 0s ease-in;
    }
    main .list .btn-done:hover {
        color: #0a9140;
    }
    main .list .btn-remove {
        color: #ec5f38;
        transition: all 0.1s 0s ease-in;
    }
    main .list .btn-remove:hover {
        color: #b95539;
    }
    main #clear-all {
        font-size: 35px;
        appearance: none;
        background: none;
        border: none;
        color: #ec5f38;
        cursor: pointer;
        transition: all 0.1s 0s ease-in;
    }
    main #clear-all:hover {
        color: #b95539;
    }
    main .theme-change {
        position: absolute;
        margin-top: 10px;
        margin-left: 10px;
        top: 0;
        left: 0;
    }
    main .checkbox {
        opacity: 0;
        position: absolute;
    }
    main .checkbox:checked+.label .ball {
        transform: translateX(33px);
    }
    main .label {
        cursor: pointer;
        color: #FAFAF8;
        background-color: #2E2D33;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 50px;
        padding: 5px;
        width: 50px;
        position: relative;
    }
    main .ball {
        border-radius: 50%;
        background-color: #FAFAF8;
        position: absolute;
        height: 22px;
        width: 22px;
        transition: transform 0.1s linear;
    }
}

@media (max-width:546px) {
    body {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #403F4D;
        color: #FAFAF8;
        transition: background 0.2s linear;
    }
    header {
        height: 200px;
        width: 400px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    header .today {
        display: flex;
        text-align: center;
        align-items: center;
    }
    header .today .date {
        margin-left: 5px;
    }
    header .today .day {
        letter-spacing: -5px;
        font-size: 80px;
        font-family: "Poppins", sans-serif;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    header .today .month {
        font-size: 27px;
        font-family: "Poppins", sans-serif;
        margin: 0;
        padding: 0;
    }
    header .today .year {
        font-size: 22px;
        font-family: "Poppins", sans-serif;
        font-weight: normal;
        margin: 0;
        padding: 0;
        margin-top: -8px;
    }
    header .weekDay {
        align-self: center;
    }
    header .weekDay h2 {
        letter-spacing: -1px;
        font-size: 35px;
        font-weight: normal;
        font-family: "Poppins", sans-serif;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 300px;
    }
    main .newItem {
        display: flex;
        justify-content: center;
        width: 300px;
        height: 80px;
    }
    main .newItem input {
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        padding: 10px;
        font-size: 25px;
        color: #FAFAF8;
        width: 100%;
        border: none;
        background-color: #2E2D33;
    }
    main .newItem input:focus {
        outline: none;
    }
    main .newItem button {
        color: #FAFAF8;
        padding: 10px;
        padding-right: 17px;
        font-size: 40px;
        appearance: none;
        border: none;
        background-color: #2E2D33;
        cursor: pointer;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        transition: all 0.1s 0s ease-in;
    }
    main .newItem button:hover {
        color: #c4c4bf;
    }
    main .list {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 636px;
    }
    main .list .item {
        background-color: #4E4D5B;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 300px;
        height: 80px;
        border-radius: 7px;
        margin: 13px;
    }
    main .list .item-done {
        background-color: #7FD9A3;
    }
    main .list label {
        font-size: 18px;
        font-family: "Poppins", sans-serif;
        color: white;
        padding-right: 10px;
        padding-left: 10px;
    }
    main .list button {
        font-size: 28px;
        appearance: none;
        border: none;
        background: none;
        padding: 10px;
    }
    main .list button i {
        cursor: pointer;
    }
    main .list .btn-done {
        color: #10ec68;
        transition: all 0.1s 0s ease-in;
    }
    main .list .btn-done:hover {
        color: #0a9140;
    }
    main .list .btn-remove {
        color: #ec5f38;
        transition: all 0.1s 0s ease-in;
    }
    main .list .btn-remove:hover {
        color: #b95539;
    }
    main #clear-all {
        font-size: 35px;
        appearance: none;
        background: none;
        border: none;
        color: #ec5f38;
        cursor: pointer;
        transition: all 0.1s 0s ease-in;
    }
    main #clear-all:hover {
        color: #b95539;
    }
    main .theme-change {
        position: absolute;
        margin-top: 10px;
        margin-left: 10px;
        top: 0;
        left: 0;
    }
    main .checkbox {
        opacity: 0;
        position: absolute;
    }
    main .checkbox:checked+.label .ball {
        transform: translateX(33px);
    }
    main .label {
        cursor: pointer;
        color: #FAFAF8;
        background-color: #2E2D33;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 50px;
        padding: 5px;
        width: 50px;
        position: relative;
    }
    main .ball {
        border-radius: 50%;
        background-color: #FAFAF8;
        position: absolute;
        height: 22px;
        width: 22px;
        transition: transform 0.1s linear;
    }
}

@media (max-width:402px) {
    body {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #403F4D;
        color: #FAFAF8;
        transition: background 0.2s linear;
    }
    header {
        height: 300px;
        width: 300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header .today {
        display: flex;
        text-align: center;
        align-items: center;
    }
    header .today .date {
        margin-left: 5px;
    }
    header .today .day {
        letter-spacing: -5px;
        font-size: 80px;
        font-family: "Poppins", sans-serif;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    header .today .month {
        font-size: 27px;
        font-family: "Poppins", sans-serif;
        margin: 0;
        padding: 0;
    }
    header .today .year {
        font-size: 22px;
        font-family: "Poppins", sans-serif;
        font-weight: normal;
        margin: 0;
        padding: 0;
        margin-top: -8px;
    }
    header .weekDay {
        align-self: center;
    }
    header .weekDay h2 {
        letter-spacing: -1px;
        font-size: 35px;
        font-weight: normal;
        font-family: "Poppins", sans-serif;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 600px;
    }
    main .newItem {
        display: flex;
        justify-content: center;
        width: 400px;
        height: 80px;
    }
    main .newItem input {
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        padding: 10px;
        font-size: 25px;
        color: #FAFAF8;
        width: 100%;
        border: none;
        background-color: #2E2D33;
    }
    main .newItem input:focus {
        outline: none;
    }
    main .newItem button {
        color: #FAFAF8;
        padding: 10px;
        padding-right: 17px;
        font-size: 40px;
        appearance: none;
        border: none;
        background-color: #2E2D33;
        cursor: pointer;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        transition: all 0.1s 0s ease-in;
    }
    main .newItem button:hover {
        color: #c4c4bf;
    }
    main .list {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 636px;
    }
    main .list .item {
        background-color: #4E4D5B;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 400px;
        height: 80px;
        border-radius: 7px;
        margin: 13px;
    }
    main .list .item-done {
        background-color: #7FD9A3;
    }
    main .list label {
        font-size: 18px;
        font-family: "Poppins", sans-serif;
        color: white;
        padding-right: 10px;
        padding-left: 10px;
    }
    main .list button {
        font-size: 28px;
        appearance: none;
        border: none;
        background: none;
        padding: 10px;
    }
    main .list button i {
        cursor: pointer;
    }
    main .list .btn-done {
        color: #10ec68;
        transition: all 0.1s 0s ease-in;
    }
    main .list .btn-done:hover {
        color: #0a9140;
    }
    main .list .btn-remove {
        color: #ec5f38;
        transition: all 0.1s 0s ease-in;
    }
    main .list .btn-remove:hover {
        color: #b95539;
    }
    main #clear-all {
        font-size: 35px;
        appearance: none;
        background: none;
        border: none;
        color: #ec5f38;
        cursor: pointer;
        transition: all 0.1s 0s ease-in;
    }
    main #clear-all:hover {
        color: #b95539;
    }
    main .theme-change {
        position: absolute;
        margin-top: 10px;
        margin-left: 10px;
        top: 0;
        left: 0;
    }
    main .checkbox {
        opacity: 0;
        position: absolute;
    }
    main .checkbox:checked+.label .ball {
        transform: translateX(33px);
    }
    main .label {
        cursor: pointer;
        color: #FAFAF8;
        background-color: #2E2D33;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 50px;
        padding: 5px;
        width: 50px;
        position: relative;
    }
    main .ball {
        border-radius: 50%;
        background-color: #FAFAF8;
        position: absolute;
        height: 22px;
        width: 22px;
        transition: transform 0.1s linear;
    }
}

@media (max-width:546px) {
    body {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #403F4D;
        color: #FAFAF8;
        transition: background 0.2s linear;
    }
    header {
        height: 200px;
        width: 200px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    header .today {
        display: flex;
        text-align: center;
        align-items: center;
    }
    header .today .date {
        margin-left: 5px;
    }
    header .today .day {
        letter-spacing: -5px;
        font-size: 80px;
        font-family: "Poppins", sans-serif;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    header .today .month {
        font-size: 27px;
        font-family: "Poppins", sans-serif;
        margin: 0;
        padding: 0;
    }
    header .today .year {
        font-size: 22px;
        font-family: "Poppins", sans-serif;
        font-weight: normal;
        margin: 0;
        padding: 0;
        margin-top: -8px;
    }
    header .weekDay {
        align-self: center;
    }
    header .weekDay h2 {
        letter-spacing: -1px;
        font-size: 35px;
        font-weight: normal;
        font-family: "Poppins", sans-serif;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 200px;
    }
    main .newItem {
        display: flex;
        justify-content: center;
        width: 200px;
        height: 80px;
    }
    main .newItem input {
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        padding: 10px;
        font-size: 25px;
        color: #FAFAF8;
        width: 100%;
        border: none;
        background-color: #2E2D33;
    }
    main .newItem input:focus {
        outline: none;
    }
    main .newItem button {
        color: #FAFAF8;
        padding: 10px;
        padding-right: 17px;
        font-size: 40px;
        appearance: none;
        border: none;
        background-color: #2E2D33;
        cursor: pointer;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        transition: all 0.1s 0s ease-in;
    }
    main .newItem button:hover {
        color: #c4c4bf;
    }
    main .list {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 636px;
    }
    main .list .item {
        background-color: #4E4D5B;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 300px;
        height: 80px;
        border-radius: 7px;
        margin: 13px;
    }
    main .list .item-done {
        background-color: #7FD9A3;
    }
    main .list label {
        font-size: 18px;
        font-family: "Poppins", sans-serif;
        color: white;
        padding-right: 10px;
        padding-left: 10px;
        max-width: 200px;
    }
    main .list button {
        font-size: 28px;
        appearance: none;
        border: none;
        background: none;
        padding: 10px;
    }
    main .list button i {
        cursor: pointer;
    }
    main .list .btn-done {
        color: #10ec68;
        transition: all 0.1s 0s ease-in;
    }
    main .list .btn-done:hover {
        color: #0a9140;
    }
    main .list .btn-remove {
        color: #ec5f38;
        transition: all 0.1s 0s ease-in;
    }
    main .list .btn-remove:hover {
        color: #b95539;
    }
    main #clear-all {
        font-size: 35px;
        appearance: none;
        background: none;
        border: none;
        color: #ec5f38;
        cursor: pointer;
        transition: all 0.1s 0s ease-in;
    }
    main #clear-all:hover {
        color: #b95539;
    }
    main .theme-change {
        position: absolute;
        margin-top: 10px;
        margin-left: 10px;
        top: 0;
        left: 0;
    }
    main .checkbox {
        opacity: 0;
        position: absolute;
    }
    main .checkbox:checked+.label .ball {
        transform: translateX(33px);
    }
    main .label {
        cursor: pointer;
        color: #FAFAF8;
        background-color: #2E2D33;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 50px;
        padding: 5px;
        width: 50px;
        position: relative;
    }
    main .ball {
        border-radius: 50%;
        background-color: #FAFAF8;
        position: absolute;
        height: 22px;
        width: 22px;
        transition: transform 0.1s linear;
    }
}